<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

			<div class="text-center">
				<!-- Create a Hunt Icon --->
				<%=image_tag("paintbrush.svg", :class => "img-circle")%>

			</div>
<div class="row">
	<div class="container">
		<div class= "col-md-10 col-md-offset-1">

			

			<h3>Let's create a hunt</h3>
			<br>
			<%= form_for(@hunt) do |f| %>
					  
					  <%= f.label :title, "*Title:"%>
					  <%= f.text_field :title %>
					  <br>

					  
				
						  <%= f.hidden_field :active, :value => false %>
					  
						  <%= f.hidden_field :published, :value => false %>
						  
						  <%= f.hidden_field :public, :value => true %>
					  
					<!-- Creating another small col for the timepickers to be placed in a more user friendly layout-->
					<div class="col-xs-12">
						<div class="col-xs-6">
							<%= f.label :start_date, "*Start Date:" %><br>
					  		<%= f.date_field :start_date %>
						</div>
						<div class="col-xs-6">
							<%= f.label :end_date, "*End Date:" %><br>
					  		<%= f.date_field :end_date %>
						</div>
						<div class="col-xs-6">
							<%= f.label :start_time, "*Begins at:"%><br>
					  		<%= f.time_field :start_time %>
						</div>
						<div class="col-xs-6">
							<%= f.label :end_time, "*Ends at:"%><br>
					  		<%= f.time_field :end_time %>
						</div>
					</div>
					  <br>
					  <%= f.label :start_location, "Start Location:"%>
					  <%= f.text_field :start_location%>
					  <br>
					  <%= f.label :description, "Description:"%>
					  <%= f.text_field :description%>
					  <br>
					  <%= "*=Required" %><br>
					  <%= f.hidden_field :user_id, :value => current_user.id%>
					  <%= f.hidden_field :created_at%>
					  <%= f.hidden_field :updated_at%>
					  <br>
					
					  <%= f.submit "Create Hunt", class: "btn btn-capstone btn-block" %>
					  <br>
					  <br>
					 
					<% end %>
				</div>
			</div>
		</div>




