<!DOCTYPE html>
<html>
<head>
  <title>Capstone2015</title>	
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= google_webfonts_init({
    google: ['Quicksand', 'Quicksand']
  }) %>
</head>

<body>

<!--- The id tag here is an anchor tag for the footer. By pressing "back to top" in the footer, the page jumps up to this tag --->
<id="top">
<%= render 'layouts/navbarHeader' %>
<!--< %= form_tag(hunts_path, :method => "get", id: "search-form") do %>-->
<!--    < %= text_field_tag :search, params[:search], placeholder: "Search by hunt title or location" %>-->
<!--    < %= submit_tag "Search", :name => nil %>-->
<!--< % end %>-->
</id>
<div class="wrapper">
<div class="container">

	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>

  <%= yield %>

</body>

</html>
